.fa {
  width: 15px;
  height: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
  padding: 3px;
}

#footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header h1{
  margin: .5rem;
  text-shadow: 5px -3px 5px rgba(5,7,8,2.75);
}

#nav {
  right: 10%;
  width: 100vw;
  margin: 1000px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

#profile {
  margin: 2rem auto;
  max-width: 90%;
  width: 90%;
  box-shadow: 10px -11px 5px 0px rgba(4,8,9,0.75);
}

.subsections li{
  list-style-type: none;
  display: inline-flex;
  
}

.subsections a{
  padding: 1rem 1rem;
  text-shadow: 5px -3px 5px rgba(5,7,8,2.75);
}