
#about img{
 shape-outside: circle(50%);
 width: 240px;
 height: 250px;
 border: 5px solid #007bb5;
 shape-image-threshold: .5;
 shape-margin: 10px;
 clip-path: circle(46.27% at 51.2% 48.85%);
 -webkit-clip-path: circle(46.27% at 51.2% 48.85%);
 float: right;
 right: 20%;
 margin-right: 8px;
}

.btn{
  padding: 1rem 1rem;
}

.fa {
  width: 15px;
  height: 15px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px;
  padding: 3px;
}

#footer{
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 2rem;
}

.grid-container{
    display: grid;
    grid-template-areas:
    'skills about about about'
    'skills biography biography biography'
    'skills projects projects projects'
    'contact contact contact contact'
    'footer footer footer footer';
    padding-left: 2rem;
}

.grid-item-1{
    grid-area: skills;
    margin-left: 2rem;

}

.grid-item-2 {
    grid-area: about;
    margin-left: 2rem;
}

.grid-item-3{
    grid-area: biography;
    margin-left: 2rem;
}

.grid-item-4{
  display: grid;
  margin-left: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 3rem;
}

.grid-item-5 {
    grid-area: contact;
    margin-left: 2rem;

}

#header{
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header h1{
  margin: .5rem;
  text-shadow: 5px -3px 5px rgba(5,7,8,2.75);
}

#hide-details{
  margin: 1rem;
}

h2{
  text-align: center;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(255, 255, 255); 
  background-color: rgba(214, 212, 231, 0.4);
}

.modal-content {
  margin: auto;
  padding: 20px;
  border: 1px solid rgb(60, 26, 151);
  width: 80%;
}

.close {
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {

  text-decoration: none;
  cursor: pointer;
}

#nav {
  right: 10%;
  width: 100vw;
  margin: 1000px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

#profile {
  margin: 2rem auto;
  max-width: 90%;
  width: 90%;
  box-shadow: 10px -11px 5px 0px rgba(4,8,9,0.75);
}
#projects{
    grid-area: projects;
}

#projects img{
  max-width: 90%;
}

.subsections li{
  list-style-type: none;
  display: inline-flex;
  
}

.subsections a{
  padding: 1rem 1rem;
  text-shadow: 5px -3px 5px rgba(5,7,8,2.75);
}