a:link {
  text-decoration: none;
  color: white;
  font-style: oblique;
}

a:visited {
  text-decoration: none;
  color: #DEE6F8;
  font-style: italic;
}

.btn{
  border: none;
  background-color: inherit;
  font-size: 18px;
  font-style: oblique;
  display: inline-block;
  : outline:0;
}

.fa {
  font-size: 15px;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-github {
  background: #000;
  color: white;
}
#footer{
   background-color: #58637A;
   opacity: .8;
   background-image: url("../img/denim_Jacob_Gube_Flickr.jpg");

}

#header{
   background-color: #58637A;
   opacity: .8;
   background-image: url("../img/denim_Jacob_Gube_Flickr.jpg");

}

#header h1{
  font-family: 'Poiret One', cursive;
  font-style: oblique;
}

h2{
  font-size: 1.1rem;
}

#modalButton{
  color: white;

}
.modal-content {
  background-color: #fefefe;
  color: black;
}

#modalContactButton{
  color: white;

}
.modal-contactcontent {
  background-color: #fefefe;
  color: black;
}

 .close {
    color: #000000;
 }

.close:hover,
.close:focus {
  color: rgb(255, 255, 255);
}

#profile {
 background-color: #58637A; 
  color: white;
  font-family: 'Niramit', sans-serif;
}

.project-slides{
  border: none;
  background-color: inherit;
  font-size: 18px;
  font-style: oblique;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#subsections{
  font-size: 18px;
  font-style: oblique;

}